body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #53b76d;
    }
    .dish {
    padding: 15px;
    background-color: rgb(164, 225, 241);
    border-radius: 5px;
    }
